@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}

@font-face {
  font-family: 'Amazon-Ember-Medium';
  src: url('/fonts/AmazonEmber_Lt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Amazon-Ember-Medium', sans-serif;
}